.card {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  display: inline-block;
  padding: 10px;
  border-radius: 25px;
}

img {
  width: 100%;
}
p {
  width: 100%;
}

#pets {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  color: brown;
}

span {
  color: rgb(157, 146, 75)
}

@media (max-width: 375px) {
  #pets {
    flex-wrap: wrap;
  }
}