section {
    margin-top: 100px;
  }
  
  div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
  }
  
  div:nth-of-type(2n) {
    background-color: #f7db6a;
  }
  
  div:nth-of-type(3n) {
    background-color: #ebb02d;
  }

/* transform: rotate */
#one {
    transform: rotate(45deg);
}

/* tranform: scale */
#two {
    transform: scale(1.5); /* can do this also- transform: scaleX(2);*/ 
}
  
/* transform: translate */
#three {
    transform: translate(100px, 100px); /* can do this also - transform: translateX(100px);  */
}

/* transform: skew */
#four {
    transform: skew(20deg);
}

#five {
    transform: rotate(30deg) translateX(100px);
}